body {
  font-family: "Roboto", Arial, serif;
  line-height: 1.8;
  font-size: 20px;
  font-weight: 300;
  margin:0;
}

/*---------------------------------------------------*/
/* Make the image fully responsive */
  .carousel-inner img {
      width: 1000%;
      height: 1000%;
    
  }
/*---------------------------------------------------*/

/*------------------------------- End body */

a {
  color: #F03861;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:focus, a:active {
  outline: none;
}

p, span {
  margin-bottom: 1.5em;
  font-size: 20px;
  color: #727272;
  font-weight: 300;
  font-family: "Roboto", Arial, serif;
}


h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Roboto", Arial, serif;
  font-weight: 300;
  margin: 0 0 30px 0;
}

/*------------------------------------ Header */
header {
  padding-top: 3em;
}
header .navbar-brand {
  padding-bottom: 3em;
}
header .navbar-brand .logo {
  position: relative;
  font-size: 50px;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
header .navbar-brand .logo:after {
  position: absolute;
  bottom: 13px;
  right: -14px;
  width: 12px;
  height: 12px;
  background: #F03861;
  content: '';
}
header .navbar-brand .logo:hover {
  text-decoration: none;
}
header #main-nav > ul {
  padding: 0;
  margin: 0;
}
header #main-nav > ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  header #main-nav > ul li {
    display: block;
    margin-left: 0;
    margin-bottom: 15px;
  }
}
header #main-nav > ul li a {
  padding-bottom: 5px;
  color: #000;
  position: relative;
  font-weight: 400;
}
header #main-nav > ul li a.active:before {
  position: absolute;
  width: 7px;
  height: 7px;
  content: '';
  top: -5px;
  right: -7px;
  background: #F03861;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
header #main-nav > ul li a:hover, header #main-nav > ul li a:focus {
  text-decoration: none;
  color: #000;
}
header #main-nav > ul li:first-child {
  margin-left: 0;
}
/*------------------------------------ End Header */

/* ----------------------------------------Footer */
.social-links {
    padding-bottom: 0px;
}

.social-links li a i {
    width: 52px;
    height: 52px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

.social-links2 {
			text-align: center;
		
        font-size: 28px; }

#address {
    text-align: center;
}
/*---------------------------------* End Footer*/


/*-------------------------------------------------------Image Hover Overlay Effects */

.container1 {
    max-width: 1280px;
    /* 1200 changed. remove these two to take out the white space around the block.
    min-height: 500px;
    background: #fff;
    background became black.
    */
    margin: 70px auto 0;
    display: flex;
    flex-direction: row; /* will create seperate the bricks */
    flex-wrap: wrap; /* this will create seperate the bricksas complete squares */
}

.container1 .box {
    position: relative;
    max-width: 300px;
    height: 300px;
    background: #ff0;
    margin: 10px; /* This will split the yellow brick. */
    box-sizing: border-box;
    display: inline-block;
}

.container1 .box .imgBox {
    position: relative;
}

.container1 .box .imgBox img {
    max-width: 100%;
    transition: transform 2s;

      object-fit: cover; 
    width: 300px; 
    height: 300px 
}

.container1 .box:hover .imgBox img {
    transform: scale(1.2);
}


img { 
    object-fit: cover; 
    max-width: 300px; 
    height: 300px 
}

.container1 .box .details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,.8);
    transform: scaleY(0);
    transition: transform .5s;
}

.container1 .box:hover .details { /*second time this code is repeated.*/
    transform: scaleY(1);
}


.container1 .box .details .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
}

.container1 .box .details .content h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #ff0;
}

.container1 .box .details .content h2 {
    margin: 10px 0 0;
    padding: 0;
  
}
/*---------------------------------Image Hover Overlay Effects */

